<h1>On mange quoi ce soir ?</h1>

<% @users.each do |user| %>
	<p><%= user.id %></p>
	<p><%= user.firstname %></p>
	<p><%= user.lastname %></p>
	<p><%= user.login %></p>
	<p><%= user.password %></p>
<% end %>